name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: LinZhihao-723
          template: classic
          base: header, activity, community, repositories, metadata
          config_animations: yes
          config_timezone: America/Chicago
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year         
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, JavaScript, Ruby, Ada
          plugin_languages_indepth: yes
          plugin_lines: yes
          plugin_habits: yes
          plugin_habits_from: 250
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_calendar: yes
